.error {
  @include primary-font();
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $primary-colour;
  height: 80%;
  h1 {
    font-weight: 700;
    font-size: 290px;
    line-height: 142.6%;
  }
  p {
    font-weight: 500;
    font-size: 36px;
    line-height: 142.6%;
  }
  a {
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    color: $primary-colour;
    margin: 70px;
  }
}

@media (max-width: 768px) {
    .error{
        h1{
            font-size: 96px;
        }
        P{
            font-size: 18px;
        }
    }
}