@mixin arrowsize() {
    width: ;
}
.gallery {
    margin-bottom: 30px;
  position: relative;
  height: 420px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  overflow: hidden;
  .image {
      object-fit: cover;
  }
  .right-arrow {
    position: absolute;
    top: 50%;
    right: 30px;
    
  }
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 30px;
  }

  .slide {
      opacity: 0;
      transition: 1s ease;
    }
    .active {
      opacity: 1;
      transition: 1s;
    }
    
}

