.listing-container {
  @include primary-font();
  @include main-margins();
  color: $primary-colour;
  .listing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .listing-heading {
    //   max-width: 660px;
      margin-right: 30px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      h1 {
        font-weight: 500;
        font-size: 36px;
        line-height: 142.6%;
      }
      p {
        font-weight: 500;
        font-size: 18px;
        line-height: 142.6%;
      }
      .tags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 25px 0;
        p {
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 500;
          font-size: 14px;
          line-height: 142.6%;
          width: 140px;
          background-color: $primary-colour;
          color: white;
          padding: 5px;
          margin-right: 10px;
          margin-bottom: 10px;
          border-radius: 10px;
        }
      }
    }
    .listing-info {
      display: flex;
      flex-direction: column;
      align-items: baseline;
      margin: 0;
      .host {
        display: flex;
        align-items: center;
        font-size: 18px;
        img {
          width: 64px;
          border-radius: 50%;
          overflow: hidden;
          margin-left: 20px;
        }
      }
    }
  }

  .drop-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    min-height: 300px;
    .dropdown {
      margin: 0;
      width: 48%;
    }
  }
}

@media (max-width: 768px) {
  .listing-container {
    .listing{
      .listing-heading{
        .tags {
          width: 100%;
          p {
            margin-right: 5px;
            width: 85px;
          }
        }
      }
      .listing-info{
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
      }
    }
    .drop-container {
      justify-content: center;
      .dropdown {
        width: 100%;
      }
    }
  }
}
