@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
}

header {
  margin: 5%;
  margin-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
}

header nav img {
  margin-right: 20px;
  height: 40px;
}

header nav ul,
header nav a {
  text-decoration: none;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Montserrat";
  font-style: normal;
  color: #ff6060;
  font-weight: 500;
  font-size: 12px;
  line-height: 142.6%;
}

header nav ul li,
header nav a li {
  margin-left: 20px;
}

@media (min-width: 768px) {
  header nav img {
    height: 55px;
  }
  header nav ul,
  header nav a {
    font-size: 24px;
  }
}

main {
  margin: 5%;
}

main .heading {
  margin-bottom: 30px;
  border-radius: 25px;
  overflow: hidden;
  height: 220px;
  background-image: url(/src/Assets/Background.png);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

main .heading p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 142.6%;
  /* or 68px */
  color: #ffffff;
}

main .accommodation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #f6f6f6;
  border-radius: 25px;
  padding-top: 40px;
}

main .accommodation-container .acc-card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  margin: 20px;
  min-width: 300px;
  width: calc(28%);
  height: 340px;
  border-radius: 10px;
  position: relative;
}

main .accommodation-container .acc-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  z-index: 0;
}

main .accommodation-container .acc-card .acc-cover {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

main .accommodation-container .acc-card .acc-title {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  color: #ffffff;
  z-index: 1;
}

@media (max-width: 768px) {
  main .heading {
    height: 110px;
  }
  main .heading p {
    font-size: 34px;
  }
  main .accommodation-container .acc-card {
    width: calc(90%);
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 200px;
  background-color: black;
  color: white;
}

footer p {
  margin: 5px;
}

footer img {
  margin: 5px;
}

.error {
  font-family: "Montserrat";
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ff6060;
  height: 80%;
}

.error h1 {
  font-weight: 700;
  font-size: 290px;
  line-height: 142.6%;
}

.error p {
  font-weight: 500;
  font-size: 36px;
  line-height: 142.6%;
}

.error a {
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  color: #ff6060;
  margin: 70px;
}

@media (max-width: 768px) {
  .error h1 {
    font-size: 96px;
  }
  .error P {
    font-size: 18px;
  }
}

.about {
  margin: 5%;
  font-family: "Montserrat";
  font-style: normal;
  margin-bottom: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dropdown button {
  margin-top: 30px;
  width: 100%;
  background-color: #ff6060;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  height: 50px;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;
  border-radius: 5px;
  border: none;
  color: white;
}

.dropdown .content {
  padding: 15px;
  background-color: #f6f6f6;
  color: #ff6060;
  border-radius: 5px;
  margin-bottom: 30px;
}

.dropdown .content ul {
  list-style: none;
  padding: 0;
}

.dropdown .content ul li {
  margin-bottom: 5px;
}

.listing-container {
  font-family: "Montserrat";
  font-style: normal;
  margin: 5%;
  color: #ff6060;
}

.listing-container .listing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.listing-container .listing .listing-heading {
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.listing-container .listing .listing-heading h1 {
  font-weight: 500;
  font-size: 36px;
  line-height: 142.6%;
}

.listing-container .listing .listing-heading p {
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
}

.listing-container .listing .listing-heading .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 25px 0;
}

.listing-container .listing .listing-heading .tags p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 142.6%;
  width: 140px;
  background-color: #ff6060;
  color: white;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.listing-container .listing .listing-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: 0;
}

.listing-container .listing .listing-info .host {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}

.listing-container .listing .listing-info .host img {
  width: 64px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 20px;
}

.listing-container .drop-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 300px;
}

.listing-container .drop-container .dropdown {
  margin: 0;
  width: 48%;
}

@media (max-width: 768px) {
  .listing-container .listing .listing-heading .tags {
    width: 100%;
  }
  .listing-container .listing .listing-heading .tags p {
    margin-right: 5px;
    width: 85px;
  }
  .listing-container .listing .listing-info {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .listing-container .drop-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .listing-container .drop-container .dropdown {
    width: 100%;
  }
}

.gallery {
  position: relative;
  height: 420px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery .image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.gallery .right-arrow {
  position: absolute;
  top: 50%;
  right: 30px;
}

.gallery .left-arrow {
  position: absolute;
  top: 50%;
  left: 30px;
}
/*# sourceMappingURL=App.css.map */