* {
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@import "./styling/Mixins";



@import "./styling/Header";

@import "./styling/Home";

@import "./styling/Footer";

@import "./styling/Error";
@import "./styling/About";
@import "./styling/Listing";
@import "./styling/Gallery";